.container {
  width: 1100px;
}

.column-1 {
  width: 7.41667%;
}

.column-2 {
  width: 15.83333%;
}

.column-3 {
  width: 24.25%;
}

.column-4 {
  width: 32.66667%;
}

.column-5 {
  width: 41.08333%;
}

.column-6 {
  width: 49.5%;
}

.column-7 {
  width: 57.91667%;
}

.column-8 {
  width: 66.33333%;
}

.column-9 {
  width: 74.75%;
}

.column-10 {
  width: 83.16667%;
}

.column-11 {
  width: 91.58333%;
}

.column-12 {
  width: 100%;
}

.row {
  width: 100%;
  *zoom: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="column"] {
  float: left;
  margin-left: 1%;
}
[class*="column"]:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }

  [class*="column"] {
    width: 100%;
    margin: 0;
  }
}
.container {
  margin: 0 auto;
}
