@import "compass";

/*  #Main grid variables
================================================== */

// main container width in pixels
$container-width : 1100px;

// total number of columns
$column-count : 12;

// spacing between the columns
$gutter-width: 1%;

.container {
	width: $container-width;
}

@for $i from 1 through $column-count {
	.column-#{$i} {
		width: (((100 + $gutter-width) / $column-count) * $i) - $gutter-width;
	}
}

.row {
	width: 100%;
	@include pie-clearfix;
}

[class*="column"] {
	float: left;
	margin-left: $gutter-width;

	&:first-child {
		margin-left: 0;
	}
}

/*  #Media queries
================================================== */

@media only screen and (max-width: $container-width) {
	.container {
		width: 100%;
	}
	[class*="column"] {
		width: 100%;
		margin: 0;
	}
}